<%= render 'shared/errors', object: @joke %>

<%= form_with model: @joke do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :title %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :title, placeholder: 'Enter title', class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :body %>
    </div>

    <div class="col-sm-10">
      <%= f.text_area :body, placeholder: 'Enter text', class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :tags %>
    </div>

    <div class="col-sm-10">
      <%= f.collection_select :tag_ids, [], :id, :title, {}, multiple: true,
        class: 'js-multiple-select js-ajax-select w-100', data: {'ajax-url': '/api/tags'} %>
    </div>
  </div>

  <%= f.submit "Submit joke!", class: 'btn btn-primary' %>
<% end %>
