<% provide :page_title, 'Jokes' %>
<% currently_at 'Jokes' %>

<h3 class="mb-4 text-center">Jokes</h3>

<section class="mb-5">
  <h2>Search by Tags</h2>

  <%= form_with url: jokes_path, method: :get do |f| %>
    <div class="mb-3">
      <%= f.collection_select :tag_ids, [], :id, :title, {selected: params[:tag_ids]},
        multiple: true, required: true,
        class: 'js-multiple-select js-ajax-select w-100', data: {'ajax-url': '/api/tags'} %>
    </div>

    <%= f.submit "Search", class: 'btn btn-primary' %>
  <% end %>
</section>

<%= paginate @jokes %>

<% @jokes.each do |joke| %>
  <article class="card mt-3">
    <div class="card-header text-center ">
      <h6><%= link_to joke.title, joke_path(joke), class: 'btn' %></h6>
    </div>
    <div class="card-body">
      <p class="card-text"><%= joke.body %></p>
    </div>
    <div class="card-footer text-body-secondary">
      <time datetime="<%= joke.formatted_created_at %>">
        <small><%= joke.formatted_created_at %></small>
      </time>
      <div class="my-2">
        <%= render joke.tags %>
      </div>
    </div>
  </article>
<% end %>

<%= paginate @jokes %>
