<% provide :page_title, 'Jokes' %>
<% currently_at 'Jokes' %>

<h3 class="mb-4 text-center">Jokes</h3>

<%= paginate @jokes %>

<% @jokes.each do |joke| %>
  <article class="card mt-3">
    <div class="card-header text-center ">
      <h6><%= link_to joke.title, joke_path(joke), class: 'btn' %></h6>
    </div>
    <div class="card-body">
      <p class="card-text"><%= joke.body %></p>
    </div>
    <div class="card-footer text-body-secondary">
      <time datetime="<%= joke.formatted_created_at %>">
        <small><%= joke.formatted_created_at %></small>
      </time>
    </div>
  </article>
<% end %>

<%= paginate @jokes %>
