<h3>Jokes</h3>

<% @jokes.each do |joke| %>
  <h6><%= joke.title %></h6>
  <p><%= joke.body %></p>
  <time datetime="<%= joke.formatted_created_at %>">
    <%= joke.formatted_created_at %>
  </time>
  <br>
  <%= link_to 'Show', joke_path(joke) %> |
  <%= link_to 'Edit', edit_joke_path(joke) %> |
  <%= link_to 'Destroy', joke_path(joke), data: {method: :delete, confirm: 'Are you sure?'} %>
<% end %>
