<article class="card">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <%= link_to 'Edit', edit_joke_path(@joke), class: 'btn' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Destroy', joke_path(@joke), class: 'btn', data: {method: :delete, confirm: 'Are you sure?'} %>
      </li>
      <li class="nav-item">
        <%= link_to 'Back', jokes_path, class: 'btn' %>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title text-center"><%= @joke.title %></h5>
    <p class="card-text"><%= @joke.body %></p>
  </div>
  <div class="card-footer text-body-secondary">
    <time datetime="<%= @joke.formatted_created_at %>">
      <small><%= @joke.formatted_created_at %></small>
    </time>
  </div>
</article>
